.contenido {
	height: 100%;
	width: 80%;
	float: left;
}

.contenido-options {
	height: 15%;
	width: 100%;
	float: left;
	text-align: center;
	background-color: $background-top;
}

.contenido-config {
	height: 85%;
	width: 100%;
	float: left;
}
