.footer {
	color: #fff;
	background-color: $secundary;
	position: absolute; /*El div será ubicado con relación a la pantalla*/
	left: 0px; /*A la derecha deje un espacio de 0px*/
	right: 0px; /*A la izquierda deje un espacio de 0px*/
	bottom: 0px; /*Abajo deje un espacio de 0px*/
	height: 5%; /*alto del div*/
	z-index: 0;
}
