.vertical-menu {
	width: 20%;
	background-color: $background-menu;
	float: left;
}

.optionsMenu {
	height: 85%;
}

.optionsMenu a {
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.optionsMenu a:hover {
	background-color: $light-grey;
}

.optionsMenu a.active {
	background-color: $primary;
	color: white;
}

.marginName {
	margin-bottom: 10px;
}

.footerLogout {
	position: absolute;
	bottom: 0px;
	width: 20%;
}

.footerLogout button {
	width: 100%;
}
