.vertical-menu {
	max-width: 20%;
	background-color: $background-menu;
}

.optionsMenu a {
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.optionsMenu a:hover {
	background-color: $light-grey;
}

.optionsMenu a.active {
	background-color: $primary;
	color: white;
}

.marginName {
	margin-bottom: 10px;
}
