.nav {
	background-color: $primary !important;
}

.nav-link.active {
	background-color: $light-grey !important;
	border-color: $light-grey !important;
	color: #212529 !important;
}

.nav-link {
	color: #fff !important;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.tab-content {
	background-color: $light-grey;
}
